body {
    font-size: 16px;
    background: linear-gradient(180deg, #51E5FF 60%, #EC368D);
    min-height: 100vh;
    min-width: 100vw;
}

.container {
    width: 90%;
    margin: auto;
    padding: 3%;
    text-align: center;
    margin-top: 3%;
}

h1 {
    font: 2rem 'Chewy', cursive;
    margin: 3vh 0;
}

h3 {
    font: 1rem 'Chewy', cursive;
    line-height: 1.5rem;
    margin: 3%;
}

p {
    line-height: 1.5rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 3vh;
}

ul {
  margin-bottom: 4vh;
}

li {
    padding: 1rem;
    text-align: left;
    line-height: 1rem;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

li.right {
  border: 5px solid green;
}

li.wrong {
  border: 5px solid red;
}

#gameElements {
    display: none;
    /*border: 1px solid black;*/
    width: 75%;
    height: auto;
    margin: auto;
}

#watchText {
    font-size: 1.5rem;
}

#startGame {
    margin: auto;
}
#nextQ {
    display: none;
    margin: auto;
    margin-top: 2%;
}
#gameResults {
    display: none;
    border: 1px solid black;
    width: 75%;
    height: auto;
    margin: auto;
    padding: 3%;
}
#bonusQ {
    display: none;
    margin: auto;
    margin-top: 2%;
}
#resetGame {
    display: none;
    margin: auto;
    margin-top: 2%;
}
.wideAspect {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.traditionalAspect {
    position: relative;
	padding-bottom: 75%; /* 4:3 */
	padding-top: 25px;
	height: 0;
}

#video p {
    padding: 2%;
}
#vidDiv iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 640px) {
    #gameElements {
        width: 95%;
    }   
    #gameResults {
        width: 95%;
    }
}